@import url('https://fonts.googleapis.com/css2?family=Orbitron&family=Exo+2&family=Rajdhani&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(25, 33, 52);
  background: rgb(25, 33, 52);
  background: linear-gradient(
    180deg,
    rgba(25, 33, 52, 1) 28%,
    rgba(7, 8, 21, 1) 75%
  );
  width: 100%;
  min-height: 100vh;
  height: 100%;
  overflow-x: hidden;
  margin: 0;
  box-sizing: border-box;
  font-family: "Exo 2", sans-serif;
}

.custom-table-font {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400; 
  font-size: 10px;  
}


main {
  min-height: 92vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  width: 100%;
  overflow-x: hidden;
  padding-left: 5px;
  padding-right: 5px;
}

.ant-table-column-title{
  font-size: 12px;
}


.ant-modal-content {
  background-color: #06080f !important;
  color: white;
  padding: 0 !important;
  border: solid 1px #1f2639 !important;
  padding-top: 10px !important;
}

.ant-modal-header {
  background-color: #06080f !important;
  padding-left: 20px !important;
}
.ant-modal-title {
  color: white !important;
}

.ant-modal-close {
  color: white !important;
}

.anticon-filter {
  color: white;
}
.ant-table-column-sorter-full {
  color: white !important;
}
.ant-table-filter-dropdown {
  background-color: #06080f !important;
  color: white !important;
}
.ant-btn {
  color: white !important;
}

.table-responsive .ant-table-content {
  display: block !important;
  width: 100% !important;
  overflow-x: auto !important;
}

.table-responsive .ant-table-content .ant-table-cell {
  white-space: nowrap;
}

.ant-dropdown-menu-item-selected{
  background-color: #06080f !important;
}